@using TodoList.Models.Enums;
@switch(Priority)
{
    case Priority.Low:
        <span class="badge rounded-pill bg-secondary">Low</span>
        break;
    case Priority.High:
        <span class="badge rounded-pill bg-danger">High</span>
        break;
    case Priority.Medium:
        <span class="badge rounded-pill bg-warning">Medium</span>
        break;
}

@code {
    [Parameter]
    public Priority Priority { set; get; }
}
